* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../font/Rubik-Italic-VariableFont_wght.ttf");
  src: url("../font/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../font/poppins/Poppins-Black.ttf");
  src: url("../font/poppins/Poppins-BlackItalic.ttf");
  src: url("../font/poppins/Poppins-Bold.ttf");
  src: url("../font/poppins/Poppins-BoldItalic.ttf");
  src: url("../font/poppins/Poppins-ExtraBoldItalic.ttf");
  src: url("../font/poppins/Poppins-ExtraBold.ttf");
  src: url("../font/poppins/Poppins-ExtraLight.ttf");
  src: url("../font/poppins/Poppins-ExtraLightItalic.ttf");
  src: url("../font/poppins/Poppins-Italic.ttf");
  src: url("../font/poppins/Poppins-Light.ttf");
  src: url("../font/poppins/Poppins-LightItalic.ttf");
  src: url("../font/poppins/Poppins-MediumItalic.ttf");
  src: url("../font/poppins/Poppins-Regular.ttf");
  src: url("../font/poppins/Poppins-SemiBold.ttf");
  src: url("../font/poppins/Poppins-SemiBoldItalic.ttf");
  src: url("../font/poppins/Poppins-Thin.ttf");
  src: url("../font/poppins/Poppins-ThinItalic.ttf");
}
nav,
section,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .container,
section .container,
footer .container {
  width: 1300px;
}

.black {
  background: black;
}
.black .container {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black .container p,
.black .container b {
  color: var(--text, #fafafa);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.black .container b {
  font-weight: 700;
  text-decoration: underline;
}

.white .container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1330px;
}
.white .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.white .container ul li {
  list-style: none;
}
.white .container ul li a {
  text-decoration: none;
  color: #1c1c1c;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}
.white .container button {
  border-radius: 6px;
  background: #1341ec;
  width: 131px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
.white .container .menu {
  display: none;
}

.home {
  opacity: 0.900000006;
  background: url("../img/mirjalolAka/image 2.jpg");
  background: blue;
  padding: 50px 0;
}
.home .container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .container .txtLeft {
  flex-direction: column;
}
.home .container .txtLeft h6 {
  margin-top: 120px;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: small-caps;
  letter-spacing: 1.92px;
}
.home .container .txtLeft h1 {
  margin-top: 10px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home .container .txtLeft h5 {
  margin-top: 25px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.home .container .txtLeft .input {
  margin-top: 24px;
  margin-bottom: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 565px;
  height: 55px;
  border-radius: 9px;
  overflow: hidden;
}
.home .container .txtLeft .input input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 465px;
  height: 55px;
  padding: 18px 30px;
  border: none;
  outline: none;
  color: #c0c0c0;
  font-family: sans-serif;
  font-size: 13.309px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home .container .txtLeft .input button {
  width: 160px;
  border: none;
  height: 55px;
  display: flex;
  padding: 18px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 18px 26px;
  background: var(--primary, #1341ec);
  color: #fff;
  font-family: sans-serif;
  font-size: 13.309px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.whoWeAre .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 601px;
}
.whoWeAre .container .txtall {
  width: 668px;
  position: relative;
}
.whoWeAre .container .txtall h2 {
  margin: 0px 0 40px;
  color: var(--neutral-100, #262626);
  font-family: "Rubik", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 96px;
  position: relative;
}
.whoWeAre .container .txtall h1 {
  top: -20px;
  left: -10px;
  color: #e5e5e5;
  opacity: 0.5;
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.whoWeAre .container .txtall span {
  color: var(--neutral-80, #5d5f61);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  display: block;
  line-height: 27px;
}
.whoWeAre .container .txtall button {
  margin-top: 50px;
  width: 183px;
  height: 48px;
  border-radius: 5px;
  background: var(--primary, #1341ec);
  color: #fff;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.whoWeAre .container .imgall {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  position: relative;
}
.whoWeAre .container .imgall .gr {
  position: absolute;
}

.Testimoils .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.Testimoils .container h5 {
  margin-top: 46px;
  color: var(--primary, #1341ec);
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.Testimoils .container h2 {
  margin-top: 33px;
  color: var(--grey-1, #000);
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 81px;
  z-index: 1;
}
.Testimoils .container h3 {
  opacity: 0.7;
  z-index: 0;
  position: absolute;
  top: 85px;
  color: #e5e5e5;
  font-family: "Rubik", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Testimoils .container swiper-container {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}
.Testimoils .container swiper-slide {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Testimoils .container swiper-slide .box {
  border-radius: 17.129px;
  background: #fff;
  box-shadow: 0.8564284444px 2.5692856312px 4.2821421623px rgba(0, 0, 0, 0.25);
  width: 1050px;
  height: 490px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.Testimoils .container swiper-slide .box .mean {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.Testimoils .container swiper-slide .box .mean span {
  color: #000;
  text-align: left;
  width: 560px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.Testimoils .container swiper-slide .box .mean .top {
  position: absolute;
  top: -80px;
  left: -56px;
}
.Testimoils .container swiper-slide .box .mean .botton {
  position: absolute;
  bottom: 41px;
  right: 0;
}
.Testimoils .container swiper-slide .box .mean img {
  margin-top: 60px;
}
.Testimoils .container swiper-slide .box .img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.Testimoils .container swiper-slide .box .img .bg {
  position: absolute;
  left: 20px;
  top: 17px;
}
.Testimoils .container swiper-slide .box .img img {
  width: 310px;
  height: 305px;
}
.Testimoils .container swiper-slide .box .img h4 {
  margin-top: 5px;
  color: #080d20;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
}
.Testimoils .container swiper-slide .box .img span {
  color: #000;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  opacity: 0.8;
}

@media screen and (max-width: 361px) {
  .container {
    max-width: 350px;
  }
  .black .container {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .black .container p,
  .black .container b {
    font-size: 8px;
  }
  .white .container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1330px;
  }
  .white .container ul {
    display: none;
  }
  .white .container button {
    display: none;
  }
  .white .container .menu {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */