* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../font/Rubik-Italic-VariableFont_wght.ttf");
  src: url("../font/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../font/poppins/Poppins-Black.ttf");
  src: url("../font/poppins/Poppins-BlackItalic.ttf");
  src: url("../font/poppins/Poppins-Bold.ttf");
  src: url("../font/poppins/Poppins-BoldItalic.ttf");
  src: url("../font/poppins/Poppins-ExtraBoldItalic.ttf");
  src: url("../font/poppins/Poppins-ExtraBold.ttf");
  src: url("../font/poppins/Poppins-ExtraLight.ttf");
  src: url("../font/poppins/Poppins-ExtraLightItalic.ttf");
  src: url("../font/poppins/Poppins-Italic.ttf");
  src: url("../font/poppins/Poppins-Light.ttf");
  src: url("../font/poppins/Poppins-LightItalic.ttf");
  src: url("../font/poppins/Poppins-MediumItalic.ttf");
  src: url("../font/poppins/Poppins-Regular.ttf");
  src: url("../font/poppins/Poppins-SemiBold.ttf");
  src: url("../font/poppins/Poppins-SemiBoldItalic.ttf");
  src: url("../font/poppins/Poppins-Thin.ttf");
  src: url("../font/poppins/Poppins-ThinItalic.ttf");
}
nav,
section,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .container,
section .container,
footer .container {
  width: 1300px;
}

.Testimoils .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.Testimoils .container h5 {
  margin-top: 46px;
  color: var(--primary, #1341ec);
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.Testimoils .container h2 {
  margin-top: 33px;
  color: var(--grey-1, #000);
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 81px;
  z-index: 1;
}
.Testimoils .container h3 {
  opacity: 0.7;
  z-index: 0;
  position: absolute;
  top: 85px;
  color: #e5e5e5;
  font-family: "Rubik", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Testimoils .container swiper-container {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}
.Testimoils .container swiper-slide {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Testimoils .container swiper-slide .box {
  border-radius: 17.129px;
  background: #fff;
  box-shadow: 0.8564284444px 2.5692856312px 4.2821421623px rgba(0, 0, 0, 0.25);
  width: 1050px;
  height: 490px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.Testimoils .container swiper-slide .box .mean {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.Testimoils .container swiper-slide .box .mean span {
  color: #000;
  text-align: left;
  width: 560px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.Testimoils .container swiper-slide .box .mean .top {
  position: absolute;
  top: -80px;
  left: -56px;
}
.Testimoils .container swiper-slide .box .mean .botton {
  position: absolute;
  bottom: 41px;
  right: 0;
}
.Testimoils .container swiper-slide .box .mean img {
  margin-top: 60px;
}
.Testimoils .container swiper-slide .box .img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.Testimoils .container swiper-slide .box .img .bg {
  position: absolute;
  left: 20px;
  top: 17px;
}
.Testimoils .container swiper-slide .box .img img {
  width: 310px;
  height: 305px;
}
.Testimoils .container swiper-slide .box .img h4 {
  margin-top: 5px;
  color: #080d20;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
}
.Testimoils .container swiper-slide .box .img span {
  color: #000;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 450px;
  }
}/*# sourceMappingURL=main.css.map */