* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// -------------FONTS-------------
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../font/Rubik-Italic-VariableFont_wght.ttf");
  src: url("../font/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../font/poppins/Poppins-Black.ttf");
  src: url("../font/poppins/Poppins-BlackItalic.ttf");
  src: url("../font/poppins/Poppins-Bold.ttf");
  src: url("../font/poppins/Poppins-BoldItalic.ttf");
  src: url("../font/poppins/Poppins-ExtraBoldItalic.ttf");
  src: url("../font/poppins/Poppins-ExtraBold.ttf");
  src: url("../font/poppins/Poppins-ExtraLight.ttf");
  src: url("../font/poppins/Poppins-ExtraLightItalic.ttf");
  src: url("../font/poppins/Poppins-Italic.ttf");
  src: url("../font/poppins/Poppins-Light.ttf");
  src: url("../font/poppins/Poppins-LightItalic.ttf");
  src: url("../font/poppins/Poppins-MediumItalic.ttf");
  src: url("../font/poppins/Poppins-Regular.ttf");
  src: url("../font/poppins/Poppins-SemiBold.ttf");
  src: url("../font/poppins/Poppins-SemiBoldItalic.ttf");
  src: url("../font/poppins/Poppins-Thin.ttf");
  src: url("../font/poppins/Poppins-ThinItalic.ttf");
}
nav,
section,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 1300px;
  }
}

// Mirjalol aka
// ---------------navbar  start--------------- -->

.black {
  background: black;
  .container {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    p,
    b {
      color: var(--text, #fafafa);
      font-family: "Rubik", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }
    b {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
.white {
  .container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1330px;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #1c1c1c;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
        }
      }
    }
    button {
      border-radius: 6px;
      background: #1341ec;
      width: 131px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      border: none;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
    }
    .menu {
      display: none;
    }
  }
}
// ---------------navbar  stop--------------- -->
// ----------------home start---------------- -->
.home {
  opacity: 0.9000000059604645;
  background: url("../img/mirjalolAka/image\ 2.jpg");
  background: blue;
  padding: 50px 0;
  .container {
    border: 0.2px solid#8f8f8f;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .txtLeft {
      flex-direction: column;
      h6 {
        margin-top: 120px;
        color: #fff;
        font-family: sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-variant: small-caps;
        letter-spacing: 1.92px;
      }
      h1 {
        margin-top: 10px;
        color: #fff;
        font-family: "Rubik", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px;
      }
      h5 {
        margin-top: 25px;
        color: #fff;
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
      }
      .input {
        margin-top: 24px;
        margin-bottom: 125px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 565px;
        height: 55px;
        border-radius: 9px;
        overflow: hidden;
        input {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 465px;
          height: 55px;
          padding: 18px 30px;
          border: none;
          outline: none;
          color: #c0c0c0;
          font-family: sans-serif;
          font-size: 13.309px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        button {
          width: 160px;
          border: none;
          height: 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--primary, #1341ec);
          color: #fff;
          font-family: sans-serif;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
  }
}
// ----------------home stop---------------- -->
// ----------------Who we are- start--------------- -->

.whoWeAre {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 601px;
    .txtall {
      width: 668px;
      position: relative;
      h2 {
        margin: 0px 0 40px;
        color: var(--neutral-100, #262626);
        font-family: "Rubik", sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 96px;
        position: relative;
      }
      h1 {
        top: -20px;
        left: -10px;
        color: #e5e5e5;
        opacity: 0.5;
        position: absolute;
        font-family: "Rubik", sans-serif;
        font-size: 96px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      span {
        color: var(--neutral-80, #5d5f61);
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        display: block;
        line-height: 27px;
      }
      button {
        margin-top: 50px;
        width: 183px;
        height: 48px;
        border-radius: 5px;
        background: var(--primary, #1341ec);
        color: #fff;
        border: none;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }
    }
    .imgall {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      position: relative;
      .gr {
        position: absolute;
      }
    }
  }
}

// ----------------Who we are  stop---------------- -->

// Nilufar opa
// ----------------servisec start---------------- -->

// ----------------servisec stop---------------- -->

// Abu
// ----------------Testimoils start---------------- -->

.Testimoils {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h5 {
      margin-top: 46px;
      color: var(--primary, #1341ec);
      font-family: "Rubik", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
    }
    h2 {
      margin-top: 33px;
      color: var(--grey-1, #000);
      font-family: "Rubik", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 81px;
      z-index: 1;
    }
    position: relative;
    h3 {
      opacity: 0.7;
      z-index: 0;
      position: absolute;
      top: 85px;
      color: #e5e5e5;
      font-family: "Rubik", sans-serif;
      font-size: 96px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    swiper-container {
      margin-top: 60px;
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      height: 500px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .box {
        border-radius: 17.129px;
        background: #fff;
        box-shadow: 0.8564284443855286px 2.5692856311798096px
          4.282142162322998px rgba(0, 0, 0, 0.25);
        width: 1050px;
        height: 490px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        .mean {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          span {
            color: #000;
            text-align: left;
            width: 560px;
            font-family: "Rubik", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
          position: relative;
          .top {
            position: absolute;
            top: -80px;
            left: -56px;
          }
          .botton {
            position: absolute;
            bottom: 41px;
            right: 0;
          }
          img {
            margin-top: 60px;
          }
        }
        .img {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          .bg {
            position: absolute;
            left: 20px;
            top: 17px;
          }
          img {
            width: 310px;
            height: 305px;
          }
          h4 {
            margin-top: 5px;
            color: #080d20;
            text-align: center;
            font-family: "Rubik", sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 54px;
          }
          span {
            color: #000;
            text-align: center;
            font-family: "Rubik", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 36px;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

// ----------------Testimoils stop---------------- -->

// Dilshoda && Quvonch
// ----------------logIn start---------------- -->

// ----------------logIn stop---------------- -->

// Sarvara
// ----------------contactAs start---------------- -->

// ----------------contactAs stop---------------- -->
// ----------------footer start---------------- -->

// ----------------footer stop---------------- -->

//  --------------------------------------- 500PX GA MOSLAB OLCHAB ISHLAYSILAR----------------------
@media screen and (max-width: 361px) {
  nav,
  section,
  footer {
    width: 360px;
    overflow: hidden;
  }
  .container {
    width: 345px;
  }

  // ---------------navbar  start--------------- -->
  .black {
    .container {
      width: 345px;
      padding: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      p,
      b {
        font-size: 8px;
      }
    }
  }
  .white {
    .container {
      width: 340px;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        display: none;
      }
      button {
        display: none;
      }
      .menu {
        display: block;
      }
    }
  }
  // ---------------navbar  stop--------------- -->
  // ----------------home start---------------- -->

  .home {
    padding: 11px;
    .container {
      flex-direction: column;
      width: 345px;
      .txtLeft {
        flex-direction: column;
        width: 345px;
        padding: 29px 9px;
        h6 {
          margin: 22px 0;
          font-size: 8px;
          letter-spacing: 1px;
        }
        h1 {
          margin-top: 16px;
          font-size: 33px;
          line-height: 39px;
        }
        h5 {
          font-size: 12px;
          font-weight: 300;
          line-height: 22px;
        }
        .input {
          margin-bottom: 40px;
          width: 323px;
          height: 39px;
          input {
            width: 350px;
            height: 70px;
            font-size: 5px;
            padding: 18px 17px;
          }
          button {
            width: 160px;
            height: 55px;
            font-size: 11px;
          }
        }
      }
      .map {
        width: 295px;
        height: 141px;
        margin-bottom: 45px;
      }
    }
  }

  // ----------------home stop---------------- -->
  // ----------------Who we are- start--------------- -->

  .whoWeAre {
    margin-top: 150px;
    .container {
      justify-content: center;
      flex-direction: column;
      .txtall {
        width: 345px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2 {
          margin: 0px 0 40px;
          color: var(--neutral-100, #262626);
          font-family: "Rubik", sans-serif;
          font-size: 43px;
          font-style: normal;
          font-weight: 600;
          line-height: 96px;
          position: relative;
          text-align: center;
        }
        h1 {
          top: 10px;
          left: 25px;
          font-size: 57px;
          text-align: center;
        }
        span {
          font-size: 10px;
          line-height: 15px;
          text-align: center;
        }
        button {
          margin-top: 50px;
          width: 102px;
          height: 25px;
          border-radius: 3px;
          background: var(--primary, #1341ec);
          color: #fff;
          border: none;
          font-family: "Rubik", sans-serif;
          font-size: 11px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }
      }
      .imgall {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        position: relative;
        img {
          margin: 190px 0 300px;
          height: 20px;
        }
        .gr {
          width: 300px;
          height: 300px;
          position: absolute;
        }
      }
    }
  }

  // ----------------Who we are  stop---------------- -->
  // ----------------servisec start---------------- -->

  // ----------------servisec stop---------------- -->
  // ----------------Testimoils start---------------- -->

  .Testimoils {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h5 {
        margin-top: 46px;
      }
      h2 {
        font-size: 23px;
      }
      h3 {
        top: 120px;
        font-size: 45px;
      }
      swiper-container {
        margin: 60px 0 300px;
        width: 500px;
        height: 100%;
      }

      swiper-slide {
        width: 345px;
        display: flex;
        align-items: center;
        justify-content: center;
        .box {
          flex-direction: column-reverse;
          width: 345px;
          height: auto;
          justify-content: center;
          .mean {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span {
              width: 282px;
              font-size: 9px;
              line-height: 15px;
            }
            position: relative;
            .top {
              position: absolute;
              width: 20px;
              top: -80px;
              left: -56px;
            }
            .botton {
              width: 20px;
              position: absolute;
              bottom: 41px;
              right: 0;
            }
            img {
              margin-top: 60px;
            }
          }
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            .bg {
              position: absolute;
              left: 71px;
              top: 6px;
            }
            img {
              width: 160px;
              height: 160px;
            }
            h4 {
              margin-top: 20px;
              font-size: 20px;
              line-height: 20px;
            }
            span {
              font-size: 9px;
              line-height: 10px;
              width: 250px;
            }
          }
        }
      }
    }
  }

  // ----------------Testimoils stop---------------- -->
  // ----------------logIn start---------------- -->

  // ----------------logIn stop---------------- -->
  // ----------------contactAs start---------------- -->

  // ----------------contactAs stop---------------- -->
  // ----------------footer start---------------- -->

  // ----------------footer stop---------------- -->
}
